@import '~react-big-calendar/lib/sass/styles';
@import "~react-big-calendar/lib/addons/dragAndDrop/styles.css";
@import "~react-big-calendar/lib/css/react-big-calendar.css";
@import '../variables.scss';

.Schedule {
  height: 60vh;

  #Schedule__btn {
    @include highlighted-button;
    margin-bottom: 20px;
    cursor: pointer;
  }

  @media screen and (max-width: $mobile-min-width) {
    display: flex;
    flex-direction: column;

    #Schedule__btn {
    @include highlighted-button;
    margin-bottom: 10px;
    cursor: pointer;
  }
  }
}