@import '../variables.scss';

.EditPropertyForm {
  padding: 0 20px;

  .input-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      margin-bottom: 10px;
      margin-top: 20px;
    }

    input[type=text], input[type=number] {
      @include big-input;
      
      &::placeholder {
        color: rgb(133, 133, 133);
      }
    }
  }

  .input-section-row {
    display: flex;
    
    input[type=radio] {
      margin-right: 20px;
      margin-left: 10px;
      margin-top: 3px;
    }
  }

  .submit-buttons button {
    @include highlighted-button;
    font-size: 16px;
    border: none;
    transition: .5s;

    &:hover {
      box-shadow: none;
      background: white;
      color: $button-purple;
      transform: translate(4px, 2px);
    }

    &:first-of-type {
      margin-right: 10px;
    }
  }
}