@import '../variable.scss';

.RegistrationForm {
  width: 65%;
  label {
    margin-bottom: 10px;
  }

  input {
    @include big-input
  }

  button {
    @include highlighted-button($button-lowlight);
    font-size: 16px;
    border: none;
    
    &:hover {
      cursor: pointer;
    }
  }

  div {
    margin: $medium-space 0;
    display: flex;
    flex-direction: column; 
  }
}