@import '../../components/variables.scss';

.LandingPage {
 


  overflow: visible;
  padding-left: $medium-space;
  padding-right: $medium-space;
  position: relative;
  color: $grey-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  main {
  padding: 6vh;
  text-align: center;
  height: 40vh;
  h2 {
    font-family: 'Biryani', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
  }

  h1 {
    margin-bottom: 3vh;
    font-family: 'Biryani', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
  }

  button {
    @include highlighted-button($orange);
    font-family: 'Biryani', sans-serif;
    text-transform: uppercase;
    // padding: 8px 16px;

    &:first-of-type {
      background: $light-blue;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    max-width: 100vw;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
  }
}



  #video-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    position: relative;
    #video-div {
      width: 98vw;
      display: flex;
      justify-content: center;

      video {
        width: 100%;
      }
    }

  }

  h3 {
    margin: $medium-space 0;
    font-size: 26px;
  }

  #description-sections {
    width: 100vw;
    // outline: 1px dotted red;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
  }

  .description-section {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 40px;

    span {
      color: rgb(195, 0, 255);
      margin-right: 4px;
    }

    h3 {
      width: 100%;
      color: black;
    }

    .contents {
      display: flex;
      justify-content: space-between;
   

      img {
       width: 50%;
        height: 200px;
      }
    }

    .description {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 50%;
        p {
          flex: 1;
        }
      }
  }


  #last-section {
    padding-bottom: 40px;
    text-align: center;
    padding: 10vh 0;
    background: $main-gradient;
    width: 100vw;
    h3 {
      color: white;
    }

    button {
      @include highlighted-button;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  
  @keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
      transform: translatey(0px);
    }
  }

    @media screen and (min-width: $app-max-width) {
    main {
      padding: 24vh 0;
      height: 100vh;
    }
    
    #video-section {
      width: 100vw;
    }
    video {
      max-width: 60vw;
    }
  }

  @media screen and (min-width: 376px) {
    main {
      padding: 24vh 0;
      height: 100vh;
    }
    
    #video-section {
      width: 100vw;
    }
    video {
      max-width: 60vw;
    }
  }




}

