@import '../../components/variables.scss';

.LandingPage {
  padding-left: $medium-space;
  padding-right: $medium-space;
  position: relative;

  @media screen and (max-width: $app-max-width) {
    overflow: hidden;
    main {
         padding: 4vh 0;
    }
  }

  @media screen and (min-width: $app-max-width) {
       main {
      padding: 14vh 0;
       }
  }
    main {
      a {
        background-color: #F47D57;

        &:last-of-type {
          margin-left: 10px;
          background-color: rgb(87, 150, 244);
        }
      }

      text-align: center;
      h5 {
        font-family: $main-font;
        font-size: 42px;
        line-height: 1.5;
      }
      
      p {
        color: rgb(245, 234, 234);
        font-size: 24px;
        font-family: $sub-font;
        padding: 2vh 8vw;
      }
      
      button {
        @include highlighted-button;
        padding: 14px 20px;
      }
    }
    
    @keyframes float {
      0% {
        
        transform: translatey(0px);
      }
      50% {
        
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
    }

    @keyframes float2 {
  0% {

    transform: translatey(0px);
  }
  50% {

    transform: translatey(20px);
  }
  100% {
    transform: translatey(0px);
  }
    }

  img {
    transform: translatey(0px);
	  animation: float 6s ease-in-out infinite;
  }

  .float2 {
    animation: float2 6s ease-in-out infinite;
  }

  #video-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 14vh;
    position: relative;
    #video-div {
      width: 100vw;
      display: flex;
      justify-content: center;
    }
        video {
          width: 60vw;
        }
    
    #floating {
      // background-color: white;
      // opacity: .5;
      width: 100vw;
      height: 110vh;
      z-index: -1;
      position: absolute;
      bottom: -5vh;
      display: flex;
      justify-content: space-around;
      align-items: center;

      img:first-of-type {
        align-self: flex-end;
      }

      img:last-of-type {
        align-self: flex-start;
      }

    }
  }

  
  .blurb {
    display: flex;
    flex-direction: column;

    div {
      flex: 1;
    }
    
    .description {
      display: flex;
      flex-wrap: wrap;

      span {
        color: rgb(195, 0, 255);
        margin-right: 4px;
      }

      h3 {
        width: 100%;
      }

      p {
        flex: 1;
      }
      img {
        flex: 1;
        height: 150px;
      }

    }
    
    
  }

  a {
    text-decoration: none;
    @include highlighted-button;
  }

  h3 {
    margin: $medium-space 0;
    font-size: 26px;
    color: white;
  }

  #last-section {
    text-align: center;
    padding: 10vh 0;
  }
}

