@import '../../components/variables.scss';

.LandingPage {
  padding-left: $medium-space;
  padding-right: $medium-space;

  .hero {
      height: 35vh;
      width: 100%;
  }

  .description {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    img {
      height: 75px;
      flex: 1;
    }
  
    p {
         flex: 1;
    }
  }



  a {
    text-decoration: none;
    @include highlighted-button;
  }

  h3 {
    margin: $medium-space 0;
    font-size: 26px;
    color: $main-text-color;
  }
}