@import '../../components/variables.scss';

.RegistrationPage {

  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $medium-space;
  padding-bottom: $medium-space * 2;
  color: $text-color;
  box-shadow: $box-shadow;
  border-radius: 20px;
  background: $main-gradient;
      // outline: 1px dotted red;

        @media screen and (max-width: 375px) {
    width:90%;
  }
}