@import '../variables.scss';

.App {
  padding-top: $medium-space;
  // padding-bottom: $medium-space;
  max-width: $app-max-width;
  margin: 0 auto;

  color: black;
}

.App__header {
  padding-left: $medium-space;
  padding-right: $medium-space;
}

.App__main {
  margin-top: $medium-space;
  padding-top: 8vh;
}

.blue {
  background: $main-gradient;

  h2, a, li {
    color: $text-color !important;
  }
}

.white {
  color: white !important;
}


