@import '../variables.scss';

.PropertyListItem {
  list-style-type: none;
  background-color: #105fd560;
  min-height: 20vh;
  box-shadow:   0 4px 8px 0 rgba(59, 58, 58, 0.2), 0 6px 20px 0 rgba(49, 44, 44, 0.19);
  margin-bottom: 20px;
  border-radius: 5px;

  // &:nth-of-type(2n) {

  //   background-color: #512dcf;
  // }

  h2 {
    padding: 20px 0;
    color: white;
  }

  .edit-btn {
    // @include highlighted-button($button-highlight);
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    @include highlighted-button(white);
    color: $button-purple;
    transition: .5s;
  
    &:hover {
      box-shadow: none;
      background: $button-purple;
      color: white;
      transform: translate(4px, 2px);
    }
    

  }

  .delete-btn {
    @include highlighted-button;
    cursor: pointer;
    transition: .5s;

    &:hover {
      box-shadow: none;
      background: white;
      color: $button-purple;
      transform: translate(4px, 2px);
    }

  }

  a {
    text-decoration: none;
    color: $main-text-color;
  }

  li, p {
    color: white;
  }
}