@import '../variables.scss';

.PropertyListItem {
  list-style-type: none;
  // border-bottom: 1px solid rgb(218, 218, 218);
  min-height: 20vh;
  box-shadow:   0 4px 8px 0 rgba(172, 172, 172, 0.2), 0 6px 20px 0 rgba(145, 145, 145, 0.19);
  margin-bottom: 20px;
  border-radius: 5px;

  &:first-of-type {
    // border-top: 1px solid rgb(218, 218, 218);
  }

  h2 {
    padding: 20px 0;
  }

  .edit-btn {
    @include highlighted-button($button-highlight);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
  }

  .delete-btn {
    @include highlighted-button($button-purple);
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: $main-text-color;
  }
}