@import '../../components/variables.scss';

.Dashboard {
  padding: 20px;
  padding-top: 40px;

  button {
    @include highlighted-button($button-green);
    font-size: 16px;
    border: none;
    margin: 20px;
  }
}