@import '../../components/variables.scss';

.NewPropertyPage {

  .breadcrumb {
    display: flex;
    list-style-type: none;
    padding: 0 16px 10px 20px;

    li+li:before {
      padding: 8px;
      color: white;
      content: "/\00a0";

    } 

    a {
      color: white;
      text-decoration: none;


      &:hover {
        font-weight: bold;
        text-decoration: underline;
      }
    }

  }
}