@import '../variable.scss';

.NavBar {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin: 0;
  }

  a {
  color: $main-text-color;
  text-decoration: none;
  }
}

.NavBar__tagline--wide {
  opacity: 0.35;
  margin-left: 10px;
}

.NavBar__tagline--narrow {
  opacity: 0.35;
  display: block;
  text-align: center;
  display: none;
  margin-top: 10px;
}

.NavBar__not-logged-in {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;

  a:last-child {
    @include highlighted-button;
  }
}


/* .NavBar__logged-in a {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 5px 15px;
  border-radius: 15px;
} */

@media screen and (min-width: 450px) {
  .NavBar {
    align-items: baseline;

    h1 {
    font-size: 22pt;
    }
  }
}

@media screen and (max-width: 490px) {
  .NavBar__tagline--wide {
    display: none;
  }

  .NavBar__tagline--narrow {
    display: inherit;
  }
}

