@import './components/variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(159deg,#512dcf 31%,#10a3d5 100%) #512dcf;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    /* background: rgb(25,46,103);
  background: linear-gradient(90deg, rgba(25,46,103,1) 0%, rgba(24,31,79,1) 50%, rgba(26,30,76,1) 100%); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blue {
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;

}

p, li {
  font-family: 'Hind', sans-serif;
}

html {
  min-height: 100vh;
}
