@import '../../components/variables.scss';

.EditPropertyPage {
  .breadcrumb {
    display: flex;
    list-style-type: none;
    padding: 0 16px 10px 20px;

    li+li:before {
      padding: 8px;
      // color: $text-color;
      content: "/\00a0";
    } 

    a {
      color: $text-color;
      text-decoration: none;

      &:hover {
        color: #01447e;
        text-decoration: underline;
      }
    }

  }
}