@import '../../components/variables.scss';

.FriendsPage {
  padding: $app-padding;
  overflow: hidden;

    input {
      @include big-input;
      margin: $app-padding 0;
      display: block;
    }
  
    button {
      @include highlighted-button;
    }

        h2 {
      margin-bottom: $app-padding;
    }

    .friends_search {
      display: flex;
      justify-content: space-between;

      img {
        max-width: 30%;
        flex: .5;
      }
    }

    h3 {
      margin-top: 40px;
      margin-bottom: $app-padding;
    }
  
    p {
      margin: $app-padding 0;
    }

     .propertyList {
      list-style-type: none;
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
  
      li {
        background-color: rgb(21, 21, 95);
        box-shadow:   0 4px 8px 0 rgba(172, 172, 172, 0.2), 0 6px 20px 0 rgba(145, 145, 145, 0.19);
        flex: 1;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
  
        margin: 10px;

        &:hover {
          background-color: white;
          cursor: pointer;
          -webkit-box-shadow:inset 0px 0px 0px 4px rgb(21, 21, 95);
          -moz-box-shadow:inset 0px 0px 0px 4px rgb(21, 21, 95);
          box-shadow:inset 0px 0px 0px 4px rgb(21, 21, 95);
          a {
  
            color: rgb(21, 21, 95);
          }
        }
  
         a {
           color: white;
           text-decoration: none;
         }
      }
    }


  
  

  @media screen and (min-width: $mobile-min-width) {
    .friends_search {
      display: flex;
      justify-content: space-between;

      img {
      max-width: 30%;
      margin-top: 10vh;
      margin-right: 15vw;
      }
    }
  
    h3 {
      margin-bottom: $app-padding;
    }
  
    p {
      margin: $app-padding 0;
    }
  
    .propertyList {
      list-style-type: none;
      justify-content: space-between;
      display: flex;
  
      li {
        background-color: rgb(21, 21, 95);
        box-shadow:   0 4px 8px 0 rgba(172, 172, 172, 0.2), 0 6px 20px 0 rgba(145, 145, 145, 0.19);
        flex: 1;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
  
        &:first-of-type {
          margin-right: $app-padding;
        }
  
        &:hover {
          background-color: white;
          cursor: pointer;
          -webkit-box-shadow:inset 0px 0px 0px 4px rgb(21, 21, 95);
          -moz-box-shadow:inset 0px 0px 0px 4px rgb(21, 21, 95);
          box-shadow:inset 0px 0px 0px 4px rgb(21, 21, 95);
          a {
  
            color: rgb(21, 21, 95);
          }
        }
  
         a {
           color: white;
           text-decoration: none;
         }
      }
    }
    
  }
}